<!DOCTYPE html>
<html>

<head>
    <title>ToDoListApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="<%= asset_path('checked.png') %>">

<nav class="navbar">
    <div class="navbar-left">
        <img src="<%= asset_path('checked.png') %>" alt="Logo" class="navbar-logo">
        <h1 class="navbar-title">ToDoListApp</h1>
    </div>
    <div class="navbar-right">
        <% if user_signed_in? %>
            <span class='navbar-link'>Bem-vindo, <%= current_user.email %>!</span>
            <img src="<%= asset_path('login.png') %>" alt="Exit" class="register-img">
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        <% else %>
            <%
=begin%>
 <%= link_to 'Login com Google', user_google_oauth2_omniauth_authorize_path, class: 'navbar-link' %> 
<%
=end%>
            <img src="<%= asset_path('home.png') %>" alt="Home" class="home-img">
            <%= link_to 'Home', root_path, class: 'navbar-link' %>
            <img src="<%= asset_path('user.png') %>" alt="Login" class="login-img">
            <%= link_to 'Login', new_user_session_path, class: 'navbar-link' %>
            <img src="<%= asset_path('people.png') %>" alt="Register" class="register-img">
            <%= link_to 'Registrar', new_user_registration_path, class: 'navbar-link' %>
        <% end %>
    </div>
</nav>

<%= yield %>

</html>